:root{
    --width: 90vw;
    --height:90vh;
}
.showcase_body{
    /* border: 2px solid black; */
    height:100vh;
    position: relative;
}
.scene{
    transform:translateZ(0);
    margin:50px auto;
    width: var(--width);
    height: var(--height);
    perspective: 500vw;
    position: relative;
    z-index:2;
}
.showcase div{
    position: absolute;
    height: var(--height);
    width:var(--width);
}
.showcase{
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 2s ease-in;
    /* animation-name: CubeAnimation;
    animation-duration: 12s;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-iteration-count: infinite; */
}

.showcase div:nth-child(1){
    background-color: cadetblue;
    transform: translateZ( calc(var(--width)/ 2 ) );
    background-image: url();
}
.showcase div:nth-child(2){
    background-color: rgb(226, 104, 161);
    transform:rotateY(180deg) translateZ( calc(var(--width)/ 2 ) )
}
.showcase div:nth-child(3){
    background-color: rgb(129, 72, 177);
    transform:rotateY(90deg) translateZ(calc(var(--width) / 2 ) );
}
.showcase div:nth-child(4){
    background-color: rgb(148, 44, 44);
    transform:rotateY(-90deg) translateZ(calc(var(--width) / 2 ) );
}
.showcase div:nth-child(5){
    background-color: rgb(99, 116, 24);
    transform: rotateX(90deg) translateZ(calc( var(--height) / 2)) scaleY( var(--ratio))   ;
}
.showcase div:nth-child(6){
    background-color: rgb(180, 207, 216);
    transform: rotateX(-90deg) translateZ(calc( var(--height) / 2)) scaleY( var(--ratio)) ;
}

.left{
    transform: rotateZ(180deg);
}

.showcase_nav_buttons{
    /* width:20vw; */
    position:absolute;
    top:0px;
    z-index:3;
    display: flex;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-con {
    height:100px;
    width:100px;
    display: flex;
 

    align-items: center;
    justify-content: center;
}



.round {
    position: absolute;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    
}

#cta{
    width:100%; cursor: pointer; position: absolute;
}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}

.segunda{margin-left: 8px;}
.next {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}




@keyframes CubeAnimation {
    0%{
        transform: rotate(0);
    }
    15%{
        transform: translateZ(-100px) rotateY(-90deg) ;
    }

    30%{
        transform: translateZ(-100px) rotateY(180deg);
    }
    45%{
        transform:translateZ(-100px) rotateY(-90deg);
    }

    60%{
        transform: translateZ(-100px)rotateX(-90deg);
    }
    90%{
        transform: translateZ(-100px)rotateX(90deg);
    }   
}
