.navbar{
    position: absolute;
    top:0px;
    left:0px;
}
.input_checkbox {
    width:50px;
    height:50px;
    position:fixed;
    top:4px;
    left:96vw;
    z-index:2;
    opacity: 0;
}

.input_checkbox:checked ~ .menu{
    height:100vh;
    transform: scale(1) rotate(0);
   
}
.input_checkbox:checked ~ .menu ul li{
    transform: scale(1) translateX(0);
    opacity: 1;
}

.input_checkbox:checked ~ .hamburger > div::before {
    transform:rotate(270deg) ;
    top:0px;
}
.input_checkbox:checked ~ .hamburger > div {
    transform:rotate(45deg);
}
.input_checkbox:checked ~ .hamburger > div::after {
    transform:rotate(270deg);
    top:0px;
}